body {
background-color: #EFF1EF
}
.h1head {
font-family:arial;
}
.divEn {
height: 50%;
background-color: #EDEFDD;
padding: 5%;
border-radius: 13px;
margin-left: 2%;
margin-right: 2%;
position: static;
top: 4px
}
.divEnrela {
height: 50%;
background-color: #D0C5E9;
padding: 5%;
border-radius: 13px;
margin-left: 2%;
margin-right: 2%;
position: relative;
top: 25px
}
.param {
font-family: arial;
text-align: justify;
text-indent: .5in;
font-size: 18px;
}
.h1left {
font-family: arial
}
.h2 {
text-align: center;
font-family: arial
}
.h3left {
font-family:arial;
}
nav {

}